body{
    background-color: rgb(65, 65, 65);
    overflow: hidden;
}

#window{
    height:50%;
    aspect-ratio: 1.15;
    position:relative;
    top:25%;
    margin:auto;
    overflow: hidden;
}

.pano{
    height:100%;
    position: absolute;
}

.invis{
    display: none;
}

.vis{
    display: block;
}

#ruler{
    position: absolute;
    z-index: -5;
}